:javascript
  google_ad_client = "ca-pub-7194529311513014";
  google_ad_slot = "#{slot}";
  google_ad_width = #{width};
  google_ad_height = #{height};
%script{:src => 'http://pagead2.googlesyndication.com/pagead/show_ads.js', :type => 'text/javascript'}