.left.info
  %span.left Hi,
  .isometric.left
    %img.avatar{:width => 25, :src => @user['user_info']['image']}
  %a.left{:href => "/users/#{@user['uid']}"}
    ="#{@user['user_info']['first_name']}!"
.right
  %a.logout{:href => "/logout#{"?origin=#{origin}" if defined?(origin)}"}
    %img{:src => "/images/fb_logout_button.png"}