.drawing.isometric{:class => "#{"last" if 0 == (id+1) % 6}"}
  %a{:href => "/drawings/#{drawing[:id]}"}
    %img{:src => "#{drawing['url'] || drawing[:url]}_64.#{drawing[:id].split('.')[1] if drawing[:id].respond_to?(:split)}"}