%p Now your Twitter profile image looks like this
%img{:src => Drawing.thumb_url(@drawing['url'])}

%p Tweet it now
%form{:action => "/drawings/#{params[:id]}/tweet", :method => "POST"}
  .tweet_text
    %textarea{:name => 'tweet_text'}
      Do you like my new #pixelart profile picture? Make yours with http://drawbang.com
  .follow_drawbang
    %input{:type => 'checkbox', :name => 'follow_drawbang', :value => 'yes', :checked => 'checked'}
    %span
      Follow
      %a{:href => 'http://twitter.com/drawbang'} @drawbang
  .tweet_it
    %input{:type => 'submit', :value => "Tweet it"}