%p
  Draw! is an online pixel art editor that lets you draw little 16x16 animations using only 16 colors.
%p
  Follow updates
  %a{:href => "http://twitter.com/drawbang"} @drawbang
%p
  This app makes use of the
  %a{:href => "http://github.com/potomak/jquery-pixel"} jQuery pixel library
  %br
  You can fork the app at
  %a{:href => "http://github.com/potomak/drawbang"} http://github.com/potomak/drawbang

%h3 Credits
%p
  Programming:
  %a{:href => "http://twitter.com/johnnyaboh"} Giovanni Cappellotto
  %br
  Design:
  %a{:href => "http://twitter.com/amphigoryglory"} Ashley Farrand