%p
  Draw! is a little app that let you draw little 16x16 images using only 16 colors.
  %br
  This app makes use of the
  %a{:href => "http://github.com/potomak/jquery-pixel"}
    jQuery pixel library
  %br
  You can fork the app at
  %a{:href => "http://github.com/potomak/jquery-pixel-app"}
    http://github.com/potomak/jquery-pixel-app

%h3 Credits
%p
  Programming:
  %a{:href => "http://twitter.com/johnnyaboh"} Giovanni Cappellotto
  %br
  Design:
  %a{:href => "http://twitter.com/amphigoryglory"} Ashley Farrand