.content_wrapper
  %h3 Frequently asked questions
  #res_root{"data-width" => "500"}
  %script{:src => "http://goresponsa.com/widgets/4fb510fc940d9b000100002c.js", :type => "text/javascript"}
  %noscript Please enable JavaScript to view the Q&A powered by Responsa.