!!!
%html{"xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "Draw 16 x 16 animated pictures. Draw! is a social flavored online pixel art editor.", :name => "description"}/
    %title Draw!
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js", :type => "text/javascript"}
    %link{:href => "style.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
    :javascript
      //
        function popupCenter(url, width, height, name) {
          var left = (screen.width/2)-(width/2);
          var top = (screen.height/2)-(height/2);
          return window.open(url, name, "menubar=no,toolbar=no,status=no,width="+width+",height="+height+",toolbar=no,left="+left+",top="+top);
        }
        
        $(document).ready(function() {
          $("a.popup").click(function(e) {
            popupCenter($(this).attr("href"), $(this).attr("data-width"), $(this).attr("data-height"), "authPopup");
            e.stopPropagation();
            return false;
          });
        });
        
        var trying_to_save = false;
        
        function reload(user_header) {
          $("#auth").html(user_header);
          $("#flash_wrapper").html("");
          trying_to_save && performUpload();
        }
        
        function flash(html) {
          trying_to_save = false;
          $("#flash_wrapper").html(html);
        }
      //
        :javascript
      //
        (function() {
          var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
          s.type = 'text/javascript';
          s.async = true;
          s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
          t.parentNode.insertBefore(s, t);
        })();
      //
        :javascript
      //
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-2935139-17']);
        _gaq.push(['_trackPageview']);
        
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        
        // AdSense Data
        window.google_analytics_uacct = "UA-2935139-17";
      //
        :javascript
      //
        var production_env = false,
            maxFrames = 16,
            currentPage = 1;
      //
        %script{:src => "https://raw.github.com/brianmario/jquery-infinite-scroll/master/jquery.infinitescroll.js", :type => "text/javascript"}
    %script{:src => "/jquery.pixel.js", :type => "text/javascript"}
    %script{:src => "/init.js", :type => "text/javascript"}
    / <script src='/pagination.js' type='text/javascript'></script>
    %meta{:content => "Draw!", :property => "og:title"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "http://drawbang.com", :property => "og:url"}/
    %meta{:content => "http://localhost:4567/images/draw.png", :property => "og:image"}/
    %meta{:content => "Draw!", :property => "og:site_name"}/
    %meta{:content => "Let's draw pixelart now!", :property => "og:description"}/
    %meta{:content => "207609735942895", :property => "fb:app_id"}/
    %link{:href => "http://localhost:4567/feed.rss", :rel => "alternate", :title => "Draw! feed", :type => "application/rss+xml"}/
  %body
    .wrapper
      #flash_wrapper
    #header
    #container.wrapper
      #adv-left
        :javascript
                  %script{:src => "http://pagead2.googlesyndication.com/pagead/show_ads.js", :type => "text/javascript"}
      #desktop
        #controls
          .actions.block
            .isometric.action.left.first.selectable.pixel.active{"data-action" => "pixel"}
            .isometric.action.left.selectable.fill{"data-action" => "fill"}
            .isometric.action.left.first.selectable.clearPixel{"data-action" => "clearPixel"}
          .actions.block
            .isometric.action.left.first.selectable.move_vertical{"data-action" => "move_vertical"}
            .isometric.action.left.selectable.move_horizontal{"data-action" => "move_horizontal"}
            .isometric.action.left.first.selectable.flip_horizontal{"data-action" => "flip_horizontal"}
            .isometric.action.left.selectable.flip_vertical{"data-action" => "flip_vertical"}
            .isometric.action.left.first.selectable.copy{"data-action" => "copy"}
            .isometric.action.left.selectable.paste{"data-action" => "paste"}
            .isometric.action.left.first.selectable.rotate{"data-action" => "rotate"}
          / <div class='active' id='clear'></div>
        #canvas.isometric
          %canvas{:height => "320", :onselectstart => "this.style.cursor='crosshair'; return false;", :width => "320"}
          %p
            Sorry, your browser doesn't support the
            %canvas
              element.
          %p
            Please upgrade to
            %a{:href => "http://www.microsoft.com/IE9"} IE 9
            or use the latest
            %a{:href => "http://www.google.com/chrome"} Chrome
            or
            %a{:href => "http://www.mozilla.com/"} Firefox
        #colors
          .active.color{"data-color" => "#000000"}
            #color_1.isometric{:style => "background-color: #000000"}
          .color{"data-color" => "#555555"}
            #color_2.isometric{:style => "background-color: #555555"}
          .color{"data-color" => "#0000aa"}
            #color_3.isometric{:style => "background-color: #0000aa"}
          .color{"data-color" => "#5555ff"}
            #color_4.isometric{:style => "background-color: #5555ff"}
          .color{"data-color" => "#00aa00"}
            #color_5.isometric{:style => "background-color: #00aa00"}
          .color{"data-color" => "#55ff55"}
            #color_6.isometric{:style => "background-color: #55ff55"}
          .color{"data-color" => "#00aaaa"}
            #color_7.isometric{:style => "background-color: #00aaaa"}
          .color{"data-color" => "#55ffff"}
            #color_8.isometric{:style => "background-color: #55ffff"}
          .color{"data-color" => "#aa0000"}
            #color_9.isometric{:style => "background-color: #aa0000"}
          .color{"data-color" => "#ff5555"}
            #color_10.isometric{:style => "background-color: #ff5555"}
          .color{"data-color" => "#aa00aa"}
            #color_11.isometric{:style => "background-color: #aa00aa"}
          .color{"data-color" => "#ff55ff"}
            #color_12.isometric{:style => "background-color: #ff55ff"}
          .color{"data-color" => "#aa5500"}
            #color_13.isometric{:style => "background-color: #aa5500"}
          .color{"data-color" => "#ffff55"}
            #color_14.isometric{:style => "background-color: #ffff55"}
          .color{"data-color" => "#aaaaaa"}
            #color_15.isometric{:style => "background-color: #aaaaaa"}
          .color{"data-color" => "#ffffff"}
            #color_16.isometric{:style => "background-color: #ffffff"}
        #commands
          / <a class='disabled' id='upload'>Save</a>
          #animation
            .play_stop.active.isometric
            / <p>Frames</p>
            %div{:style => "overflow: hidden; height:90px"}
              .frames.isometric
                .frame.active{"data-frame" => "0", :href => "#"}
                  %canvas{:height => "16", :width => "16"}
                  %div 1
                .frame.disabled{"data-frame" => "1", :href => "#"}
                  %canvas{:height => "16", :width => "16"}
                  %div 2
                .frame.disabled{"data-frame" => "2", :href => "#"}
                  %canvas{:height => "16", :width => "16"}
                  %div 3
                .frame.disabled{"data-frame" => "3", :href => "#"}
                  %canvas{:height => "16", :width => "16"}
                  %div 4
                .frame.disabled{"data-frame" => "4", :href => "#"}
                  %canvas{:height => "16", :width => "16"}
                  %div 5
                .frame.disabled{"data-frame" => "5", :href => "#"}
                  %canvas{:height => "16", :width => "16"}
                  %div 6
                .frame.disabled{"data-frame" => "6", :href => "#"}
                  %canvas{:height => "16", :width => "16"}
                  %div 7
                .frame.disabled{"data-frame" => "7", :href => "#"}
                  %canvas{:height => "16", :width => "16"}
                  %div 8
                .frame.disabled{"data-frame" => "8", :href => "#"}
                  %canvas{:height => "16", :width => "16"}
                  %div 9
                .frame.disabled{"data-frame" => "9", :href => "#"}
                  %canvas{:height => "16", :width => "16"}
                  %div 10
                .frame.disabled{"data-frame" => "10", :href => "#"}
                  %canvas{:height => "16", :width => "16"}
                  %div 11
                .frame.disabled{"data-frame" => "11", :href => "#"}
                  %canvas{:height => "16", :width => "16"}
                  %div 12
                .frame.disabled{"data-frame" => "12", :href => "#"}
                  %canvas{:height => "16", :width => "16"}
                  %div 13
                .frame.disabled{"data-frame" => "13", :href => "#"}
                  %canvas{:height => "16", :width => "16"}
                  %div 14
                .frame.disabled{"data-frame" => "14", :href => "#"}
                  %canvas{:height => "16", :width => "16"}
                  %div 15
                .frame.disabled{"data-frame" => "15", :href => "#"}
                  %canvas{:height => "16", :width => "16"}
                  %div 16
              #add_frames
                .add_frame.isometric +
                .remove_frame.disabled.isometric -
            /
              <p>Onion skin</p>
              <div style='overflow: hidden'>
              <div class='onion' data-frame='0' href='#'>1</div>
              <div class='onion' data-frame='1' href='#'>2</div>
              </div>
      #adv-right
        :javascript
                  %script{:src => "http://pagead2.googlesyndication.com/pagead/show_ads.js", :type => "text/javascript"}
    #images
      %div{:style => "clear: both"}
      .page
        %p.sep
          %a{:href => "http://localhost/?page=1"}
            1
            \/
            1
        .drawing
          %a{:href => "/drawings/1320407257.png"}
            %img{:src => "http://s3.amazonaws.com/draw.heroku.com/1323510050.gif_64.gif"}/
