.drawing
  %a{:href => "/drawings/#{id}"}
    %img{:src => drawing_url}
  %a{:href => "http://twitter.com/share", :class => "twitter-share-button", 'data-url' => share_url, 'data-text' => "Check this drawing out!", 'data-count' => "vertical", 'data-via' => "johnnyaboh"} Tweet
  %script{:type => "text/javascript", :src => "http://platform.twitter.com/widgets.js"}