.drawing
  %a{:href => "/drawings/#{id}"}
    %img{:src => url}
  %fb:like{:href => share_url, :send => "false", :layout => "button_count", :width => "110", :show_faces => "false", :font => ""}
  %a{:href => "http://twitter.com/share", :class => "twitter-share-button", 'data-url' => share_url, 'data-text' => "Check this drawing out!", 'data-count' => "horizontal", 'data-via' => "johnnyaboh"} Tweet