@font-face {
	font-family: uni;
	src: url('/uni05_63.ttf');
} 

body {
	font-family: uni, Helvetica, sans-serif;
	background-image: url(/images/bg.gif);
}

h1 {
	font-size: 80px;
}

h2 {
	font-size: 40px;
}

h1, h2 {
	text-align: center;
	color: #000;
	-webkit-text-fill-color: #fff; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #000;
	text-shadow:
		 4px 4px 0 #000,
		-1px -1px 0 #000,
		 1px -1px 0 #000,
		-1px 1px 0 #000,
		 1px 1px 0 #000;
}

a,
a:active,
a:visited {
	color: #999;
	cursor: pointer;
}

.active {
	font-weight: bold;
}

p.flash.error {
	color: #f55;
}

p.flash.notice {
	color: #0a0;
}

.share {
	width: 345px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.share .twitter_button {
	margin-top: 4px;
}

.share .flattr_button {
	margin-right: 14px;
}

p.sep {
	border-bottom: 1px solid #000;
}

p.sep a {
	display: block;
	text-decoration: none;
}

#header {
	text-align: center;
}

#header .wrapper {
	position: relative;
}

#header .sponsor {
	position: absolute;
	right: 0;
}

#header .sponsor a {
	background: url(/images/redistogo.png);
	width: 48px;
	height: 48px;
	text-indent: -9000px;
	display: block;
	float: right;
}

#header .sponsor p {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 8px;
}

#header h1 {
	margin-top: 20px;
	margin-bottom: 0px;
}

#header a,
#header a:active,
#header a:visited {
	text-decoration: none;
}

#header .share {
	margin: 0 auto 40px auto;
}

#auth {
	overflow: hidden;
	text-align: center;
}

#auth h3 {
	margin: 0;
}

#auth img.avatar {
	border: 1px solid #000;
	-moz-box-shadow: 5px 5px 0 #000;
	-webkit-box-shadow: 5px 5px 0 #000;
	box-shadow: 5px 5px 0 #000;
}

#auth p {
	margin: 0;
	margin-left: 10px;
}

.wrapper {
	width: 666px;
	margin: 0 auto;
}

#desktop {
	overflow: hidden;
}

#adv {
	float: left;
	margin-right: 20px;
}

.adv2 {
	float: left;
	margin-top: 72px;
	margin-right: 20px;
}

/* canvas */

#controls {
	float: left;
	margin-right: 10px;
}

#controls .actions {
	overflow: hidden;
	margin-bottom: 16px;
	width: 44px;
}

#controls .actions div,
#controls #clear {
	width: 16px;
	height: 16px;
	background-image: url(/images/controls.gif);
	margin-right: 4px;
	margin-bottom: 4px;
	background-color: #eee;
	border: 1px solid #ccc;
	-moz-box-shadow: 3px 3px 0 #ccc;
	-webkit-box-shadow: 3px 3px 0 #ccc;
	box-shadow: 3px 3px 0 #ccc;
}

#controls .actions .active,
#controls #clear.active {
	border: 1px solid #000;
	-moz-box-shadow: 3px 3px 0 #000;
	-webkit-box-shadow: 3px 3px 0 #000;
	box-shadow: 3px 3px 0 #000;
}

#controls #clear {
	background-position: 16px 16px;
}

#controls #clear.active {
	background-position: 0 16px;
}

#controls .actions .action {
	float: left;
}

#controls .action.pixel {
	background-position: 16px 64px;
}

#controls .action.pixel.active {
	background-position: 0 64px;
}

#controls .action.fill {
	background-position: 16px 48px;
}

#controls .action.fill.active {
	background-position: 0 48px;
}

#controls .action.clearPixel {
	background-position: 16px 32px;
}

#controls .action.clearPixel.active {
	background-position: 0 32px;
}


#controls .action.undo {
	background-position: 16px 0;
}

#controls .action.undo.active {
	background-position: 0 0;
}

#controls .action.redo {
	background-position: 16px 96px;
}

#controls .action.redo.active {
	background-position: 0 96px;
}

#controls #colors {
	overflow: hidden;
	width: 44px;
	margin-bottom: 10px;
}

#controls .color {
	float: left;
	width: 16px;
	height: 16px;
	margin-right: 4px;
	margin-bottom: 4px;
	border: 1px solid #ccc;
	-moz-box-shadow: 3px 3px 0 #ccc;
	-webkit-box-shadow: 3px 3px 0 #ccc;
	box-shadow: 3px 3px 0 #ccc;
}

#controls .color div {
	width: 100%;
	height: 100%;
}

#controls .color.active {
	border: 1px solid #000;
	-moz-box-shadow: 3px 3px 0 #000;
	-webkit-box-shadow: 3px 3px 0 #000;
	box-shadow: 3px 3px 0 #000;
}

/* canvas */

#canvas {
	float: left;
	cursor: crosshair;
	width: 320px;
	height: 320px;
	margin: 0 auto 5px auto;
	border: 1px solid #000;
	background-image: url(/images/canvas_bg.gif);
	-moz-box-shadow: 5px 5px 0 #000;
	-webkit-box-shadow: 5px 5px 0 #000;
	box-shadow: 5px 5px 0 #000;
}

/* commands */

#commands {
	overflow: hidden;
}

#size {
	float: left;
	font-size: 12px;
	margin-left: 24px;
}

#size p {
	margin-bottom: 5px;
}

#size ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#size li {
	padding-left: 20px;
	margin-bottom: 3px;
	background-repeat: no-repeat;
	background-position: 0 50%;
}

#size li.active {
	background-image: url(/images/arrow.png);
}

#size li.star.yellow {
	background-image: url(/images/star_yellow.png);
}

#size li.star.blue {
	background-image: url(/images/star_blue.png);
}

#size li.star.green {
	background-image: url(/images/star_green.png);
}

#size li.coming_soon {
	opacity: 0.2;
}

#size li:hover.coming_soon {
	opacity: 0.7;
}

#animation {
	font-size: 12px;
	margin-left: 24px;
}

#animation .frames {
	overflow: hidden;
}

#animation .frame,
#animation .onion,
#animation .play_stop {
	cursor: pointer;
	float: left;
	width: 15px;
	height: 15px;
	text-align: center;
	background-color: #eee;
	margin-right: 5px;
	margin-bottom: 5px;
	padding-top: 1px;
	padding-left: 1px;
	border: 1px solid #ccc;
	-moz-box-shadow: 3px 3px 0 #ccc;
	-webkit-box-shadow: 3px 3px 0 #ccc;
	box-shadow: 3px 3px 0 #ccc;
}

#animation .frame.active,
#animation .onion.active {
	color: #fff;
	background-color: #000;
	border: 1px solid #000;
	-moz-box-shadow: 3px 3px 0 #000;
	-webkit-box-shadow: 3px 3px 0 #000;
	box-shadow: 3px 3px 0 #000;
}

#animation .play_stop {
	background-image: url(/images/play_stop.png);
	background-position: 0 0;
	margin-right: 10px;
	border: 1px solid #000;
	-moz-box-shadow: 3px 3px 0 #000;
	-webkit-box-shadow: 3px 3px 0 #000;
	box-shadow: 3px 3px 0 #000;
}

#animation .play_stop.stop {
	background-position: 0 16px;
}

#upload {
	padding-left: 26px;
	margin-left: 22px;
	background: url(/images/save.gif) no-repeat;
}

#upload.disabled {
	background-position: 0 -15px;
}

a#upload.disabled,
a:active#upload.disabled,
a:visited#upload.disabled {
	color: #eee;
}

#upload.enabled {
	background-position: 0 1px;
}

a#upload.enabled,
a:active#upload.enabled,
a:visited#upload.enabled {
	color: #999;
}

#images {
	overflow: hidden;
}

#images .drawing {
	margin-right: 40px;
	margin-bottom: 40px;
	overflow: hidden;
	float: left;
}

#images .drawing a {
	display: block;
}

#images img {
	margin-right: 5px;
	border: 1px solid #000;
	width: 64px;
	image-rendering: -moz-crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
	/* see https://bugs.webkit.org/show_bug.cgi?id=40881 */
	image-rendering: -webkit-crisp-edges;
	-webkit-interpolation-mode: nearest-neighbor;
	
	-moz-box-shadow: 5px 5px 0 #000;
	-webkit-box-shadow: 5px 5px 0 #000;
	box-shadow: 5px 5px 0 #000;
}

#images a {
	float: left;
}

#images p.sep a {
	float: none;
}

#images iframe {
	float: left;
	margin-bottom: 5px;
}

#images .page {
	overflow: hidden;
}

#drawing {
	width: 320px;
	margin: 0 auto;
}

#drawing img {
	margin-bottom: 10px;
	border: 1px solid #000;
	-moz-box-shadow: 5px 5px 0 #000;
	-webkit-box-shadow: 5px 5px 0 #000;
	box-shadow: 5px 5px 0 #000;
}

#drawing #user {
	overflow: hidden;
	margin-bottom: 10px;
}

#drawing #user img {
	margin-bottom: 0;
}

#drawing .share {
	margin-bottom: 40px;
}

#footer {
	font-size: 12px;
	text-align: center;
}

#footer a,
#footer a:active,
#footer a:visited {
	display: inline;
}