body { font-family: Helvetica, sans-serif; }

a,
a:active,
a:visited {
	color: #999;
	display: block;
	cursor: pointer;
}

.active {
	font-weight: bold;
}

#header {
	overflow: hidden;
}

#header h1 {
	float: left;
}

#header iframe {
	margin-top: 30px;
	margin-left: 20px;
}

#canvas {
	cursor: crosshair;
	width: 320px;
	height: 320px;
	margin: 0 auto;
	border: 1px solid #eee;
}

#controls { float: left; }

#images {
	margin-top: 20px;
	overflow: hidden;
}

#images .drawing {
	overflow: hidden;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

#images img {
	float: left;
	margin-right: 10px;
	border: 1px solid #eee;
	width: 64px;
	image-rendering: -moz-crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
	/* see https://bugs.webkit.org/show_bug.cgi?id=40881 */
	image-rendering: -webkit-crisp-edges;
	-webkit-interpolation-mode: nearest-neighbor;
}

#images iframe {
	float: left;
}

#footer {
	font-size: 12px;
}

#footer a,
#footer a:active,
#footer a:visited {
	display: inline;
}