@font-face {
	font-family: uni;
	src: url('/uni05_63.ttf');
} 

body {
	font-family: uni, Helvetica, sans-serif;
	background-image: url(/images/bg.gif);
}

h1 {
	font-size: 80px;
}

h2 {
	font-size: 40px;
}

h1, h2 {
	text-align: center;
	color: black;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	text-shadow:
		 4px 4px 0 #000,
		-1px -1px 0 #000,
		 1px -1px 0 #000,
		-1px 1px 0 #000,
		 1px 1px 0 #000;
}

a,
a:active,
a:visited {
	color: #999;
	cursor: pointer;
}

.active {
	font-weight: bold;
}

p.flash.error {
	color: #f55;
}

p.flash.notice {
	color: #0a0;
}

.share {
	overflow: hidden;
	width: 220px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.share .twitter_button {
	margin-top: 4px;
}

p.sep {
	border-bottom: 1px solid #000;
}

p.sep a {
	display: block;
	text-decoration: none;
}

#header {
	overflow: hidden;
	text-align: center;
}

#header h1 {
	margin-top: 20px;
	margin-bottom: 0px;
}

#header a,
#header a:active,
#header a:visited {
	text-decoration: none;
}

#header .share {
	margin: 0 auto 40px auto;
}

#auth {
	overflow: hidden;
	text-align: center;
}

#auth h3 {
	margin: 0;
}

#auth img.avatar {
	border: 1px solid #000;
	-moz-box-shadow: 5px 5px 0 #000;
	-webkit-box-shadow: 5px 5px 0 #000;
	box-shadow: 5px 5px 0 #000;
}

#auth p {
	margin: 0;
	margin-left: 10px;
}

.wrapper {
	width: 610px;
	margin: 0 auto;
}

#desktop {
	overflow: hidden;
	margin: 0 auto 80px auto;
	padding-left: 88px;
	width: 542px;
}

#controls {
	float: left;
	margin-right: 10px;
}

#controls .actions {
	overflow: hidden;
	margin-bottom: 16px;
	width: 44px;
}

#controls .actions div,
#controls #clear {
	width: 16px;
	height: 16px;
	background-image: url(/images/controls.gif);
	margin-right: 4px;
	margin-bottom: 4px;
	border: 1px solid #ccc;
	-moz-box-shadow: 3px 3px 0 #ccc;
	-webkit-box-shadow: 3px 3px 0 #ccc;
	box-shadow: 3px 3px 0 #ccc;
}

#controls .actions .active,
#controls #clear.active {
	border: 1px solid #000;
	-moz-box-shadow: 3px 3px 0 #000;
	-webkit-box-shadow: 3px 3px 0 #000;
	box-shadow: 3px 3px 0 #000;
}

#controls #clear {
	background-position: 16px 16px;
}

#controls #clear.active {
	background-position: 0 16px;
}

#controls .actions .action {
	float: left;
}

#controls .action.pixel {
	background-position: 16px 64px;
}

#controls .action.pixel.active {
	background-position: 0 64px;
}

#controls .action.fill {
	background-position: 16px 48px;
}

#controls .action.fill.active {
	background-position: 0 48px;
}

#controls .action.clearPixel {
	background-position: 16px 32px;
}

#controls .action.clearPixel.active {
	background-position: 0 32px;
}


#controls .action.undo {
	background-position: 16px 0;
}

#controls .action.undo.active {
	background-position: 0 0;
}

#controls .action.redo {
	background-position: 16px 96px;
}

#controls .action.redo.active {
	background-position: 0 96px;
}

#controls #colors {
	overflow: hidden;
	width: 44px;
	margin-bottom: 10px;
}

#controls .color {
	float: left;
	width: 16px;
	height: 16px;
	margin-right: 4px;
	margin-bottom: 4px;
	border: 1px solid #ccc;
	-moz-box-shadow: 3px 3px 0 #ccc;
	-webkit-box-shadow: 3px 3px 0 #ccc;
	box-shadow: 3px 3px 0 #ccc;
}

#controls .color div {
	width: 100%;
	height: 100%;
}

#controls .color.active {
	border: 1px solid #000;
	-moz-box-shadow: 3px 3px 0 #000;
	-webkit-box-shadow: 3px 3px 0 #000;
	box-shadow: 3px 3px 0 #000;
}

#canvas {
	float: left;
	cursor: crosshair;
	width: 320px;
	height: 320px;
	margin: 0 auto 5px auto;
	border: 1px solid #000;
	background-image: url(/images/canvas_bg.gif);
	-moz-box-shadow: 5px 5px 0 #000;
	-webkit-box-shadow: 5px 5px 0 #000;
	box-shadow: 5px 5px 0 #000;
}

#upload {
	float: right;
	padding-left: 26px;
	margin-left: 10px;
	background: url(/images/save.gif) no-repeat;
}

#upload.disabled {
	background-position: 0 -15px;
}

a#upload.disabled,
a:active#upload.disabled,
a:visited#upload.disabled {
	color: #eee;
}

#upload.enabled {
	background-position: 0 1px;
}

a#upload.enabled,
a:active#upload.enabled,
a:visited#upload.enabled {
	color: #999;
}

#images {
	overflow: hidden;
}

#images .drawing_wrapper {
	margin-right: 30px;
	margin-bottom: 30px;
	overflow: hidden;
	float: left;
}

#images .drawing_wrapper.last {
	margin-right: 0;
}

#images .drawing a {
	display: block;
	height: 80px;
}

#images img {
	margin-right: 10px;
	border: 1px solid #000;
	width: 64px;
	image-rendering: -moz-crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
	/* see https://bugs.webkit.org/show_bug.cgi?id=40881 */
	image-rendering: -webkit-crisp-edges;
	-webkit-interpolation-mode: nearest-neighbor;
	
	-moz-box-shadow: 5px 5px 0 #000;
	-webkit-box-shadow: 5px 5px 0 #000;
	box-shadow: 5px 5px 0 #000;
}

#images a {
	float: left;
}

#images p.sep a {
	float: none;
}

#images iframe {
	float: left;
	margin-bottom: 5px;
}

#drawing {
	width: 320px;
	margin: 0 auto;
}

#drawing img {
	margin-bottom: 10px;
	border: 1px solid #000;
	-moz-box-shadow: 5px 5px 0 #000;
	-webkit-box-shadow: 5px 5px 0 #000;
	box-shadow: 5px 5px 0 #000;
}

#drawing #user {
	overflow: hidden;
	margin-bottom: 10px;
}

#drawing #user img {
	margin-bottom: 0;
}

#drawing .share {
	margin-bottom: 40px;
}

#disqus_thread {
	margin-top: 20px;
}

#footer {
	font-size: 12px;
	text-align: center;
}

#footer a,
#footer a:active,
#footer a:visited {
	display: inline;
}