%span.left Hi,
.isometric.left
  %img.avatar{:width => 25, :src => @current_user['user_info']['image']}
%a.left{:href => "/users/#{@current_user['uid']}"}
  ="#{@current_user['user_info']['first_name']}!"
%a.left.logout{:href => "/logout#{"?origin=#{origin}" if defined?(origin)}"}
  %img{:src => "/images/fb_logout_button.png"}